<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.AR.XFSample" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera.ar" android:required="true" />
	<application android:label="AR.XFSample.Android">
    <meta-data android:name="com.google.ar.core" android:value="required" />
  </application>
</manifest>